@import url(fonts/Lorindra);
:root {
  --main-btn-color: #00c3f5;
  --main-btn-color: #54a83f;
  --main-bg-color: rgb(217, 245, 219);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: "Bakbak One", cursive;
  max-width: 2000px;
  margin: auto;
  overflow-x: hidden;

}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

#topheader {
  background-color: rgb(29, 28, 28);
  color: #fff;
  max-width: 2000px;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.mainmenu {
  padding: 1rem;
  transform: translateY(-1500px);
  transition: 0.5s;
}

.homeicon {
  height: 80px;
  width: 80px;
}

.hamburger-icon {
  position: absolute;
  z-index: 10;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.hamburger-close {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ .hamburger-icon {
  display: none;
  transition: 1s;
}

#hamburger-menu:checked ~ .hamburger-close {
  display: block;
  transition: 1s;
}

/* CHANGE MENU HEIGHT WITH FONT SIZE */

#hamburger-menu:checked ~ .mainmenu {
  transform: translateY(0);
  position: static;
  margin: auto;
  font-size: 2rem;
}

/* CHANGE MENU HEIGHT WITH FONT SIZE */

.mainmenu ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: flex-start;
  padding-inline-start: 0;
  font-family: 'Londrina Sketch', cursive;
}

.hamburgerbtn {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  display: none;
}

.main-section {
  background-image: url(/images/exhibition-1863344_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.logo {
  height: 200px;
  width: 200px;
}

.main-header {
  font-size: 3rem;
  font-family: "Bakbak One", cursive;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000c, -1px 1px 0 #000c,
    1px 1px 0 #000c;
}

.cta-btn {
  display: inline-block;
  font-size: 1.7rem;
  background-color: var(--main-btn-color);
  color: #fff;
  border-radius: 20px 5px 5px 5px;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  min-width: 300px;
  
  
}

.cta-btn:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.subheader {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000c, -1px 1px 0 #000c,
    1px 1px 0 #000c;
    font-size: 2rem;
}

.first-section {
  min-height: 80vh;
  margin: auto;
  position: sticky;
  background-color: #0e0e0c;
  padding: 1rem;
  color: #fff;
}

.black-box {
  margin: auto;
  max-width: 60%;
  background-image: url(images/celso-405219.jpg);
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  padding: 50px;
}

.pink-heading {
  color: #ff53f4;
  font-size: 1.8rem;
}

.under-txt {
  margin-top: 30%;
  color: #fff;
}

.pink-txt {
  font-size: 1.9rem;
  color: #ff53f4;
  padding-bottom: 1rem;
}

.second-section {
  background-image: url(images/binoculars.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 120vh;
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.kidsheading {
  font-size: 4rem;
  font-family: 'Londrina Sketch', cursive;
  color: var(--main-btn-color);
  text-decoration: underline;
}

.kids-box {
  padding: 1rem;
}

.for-kids-txt {
  padding-top: 1rem;
  
}

.teacherheading {
  font-size: 4rem;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-family: 'Londrina Sketch', cursive;
}

.teachers-box {
  padding: 1rem;
}

.teachers-txt {
  padding-top: 1rem;
}

.teachers-html-btn {
  background-color: var(--main-btn-color);
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.landingpagefooter {
  color: #0e0e0c;
  background-image: url(images/lab-512503_1920.jpg);
  background-position: center;
  background-size: cover;
  padding: 1rem;
  position: static;
  bottom: 0;
  z-index: -10;
}

.week {
  list-style-type: none;
  font-weight: bold;
}

.footerheading {
  margin: auto auto;
}

.refreshlink {
  color: #000;
}

.visitbox {
  width: 60%;
  margin: auto;
  
}

.lowerheading {
  text-decoration: underline;
}

/* MEDIA QUERYS */

@media (max-width: 1000px) {
.second-section {
  margin: auto;
  width: 90%;
  padding: 10px;
}

  #topheader {
    display:flex;
    position: relative;
    
  }

  .black-box {
    margin: auto;
    max-width: 100%;
    padding: 10px;
  }


  .mainmenu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
  }
  
  .hamburger-icon {
    display: block;
    
    
  }

  .mainmenu {
    margin:0 ;
  }

  .main-header {
    font-size: 2rem;
    padding: 1rem;
    margin-top: 10rem;
  }

  .cta-btn {
    font-size: 1.3rem;
  }

  .subheader {
    max-width: 90%;
    font-size: 1rem;
  }

  .landingpagefooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  

}

@media (max-width: 800px) {

  #hamburger-menu:checked ~ .mainmenu {
    transform: translateY(0);
    font-size: 3.3rem;
    position: static;
    margin: auto;
  }


  .mainmenu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mainmenu ul li {
    display: block;
  }

  .hamburgerbtn {
    display: block;
  }

  
}

@media (max-width: 600px) {
  .main-header {
    font-size: 1.5rem;
  }

  .cta-btn {
    font-size: 4vw;
    min-width: 150px;
  }

}

@media (max-width: 400px) {
  .main-header {
    font-size: 1rem;
  }
}
