.gallery.html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topheader {
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: auto;
    

}


.box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    padding: 0.2%;
    height: auto;
    margin-bottom: 1rem;
    
    
    
}

.image {
    margin-bottom: 1%;
    border-radius: 10px;
}

.galleryheading {
    z-index: 20;
    color: #000;
    position: relative;
}


@media (max-width: 800px) {
    .box {
        
    }
}


